<div class="ht-overview" ht-track-page>

  <ht-header></ht-header>

  <div class="banner">
    <div class="title">
      <div>
        <h1>{{__ "About"}}</h1>
      </div>
    </div>
  </div>

  <div class="content transition fade">
    <div>
      <div class="section">
        <h2>{{__ 'What is Wilson you ask?'}}</h2>
        <p>Wilsonjs is a web application development framework built upon Nodejs and Angularjs. Its purpose is to bring together the various ingredients needed to create structured, dynamic, large-scale web applications.</p>
        <p>Essentially, Wilson sets you up to develop web applications FAST with no need to worry about the web server code.  All you write is client side javascript, markup and styles. It comes out of the box with support for i18n, Cross-platform/Device templating, Unit Testing, Code Linting, Dynamic theming with SASS and more.</p>

        <h2>{{__ 'Wait, I don\'t have to write web server code?'}}</h2>
        <p>On the client, Wilson acts as a plugin to Angular that gives a componentized structure to your Angular application. On the Server, wilson bootstraps an Expressjs app to serve the core single-page app and resolve component dependencies for the client via a simple JSON endpoint.</p>
        <p>This combination creates a platform that serves a lazily-loaded single-page web application; the server delivers the 'application shell' on the first request and the client subsequently requests the proper component (and resource dependencies) from the server (via the JSON endpoint). All routes are resolved to components on the client and the appropriate component is requested from the server if it has not already been cached.  Component resources dependencies received from the JSON response are then asynchronously loaded on the client (then cached) and the component is rendered in the page. As the user continues to more pages, the experience becomes faster and more efficient as the components are now cached on the client.</p>

      </div>
      <div class="section">
        <h2>Why Nodejs? (2 Reasons)</h2>

        <h3>1. Scalability</h3>
        <p>Node is fast and it is light weight. We wanted to choose a server-side technology that would be able to scale and perform under great load. As our server-side architecture is extremely light (i.e. app-shell serving, 1 component API endpoint, and static resources) we like the asynchronous flow that Nodejs provides.</p>

        <h3>2. It's Javascript!</h3>
        <p>Let's face it, we are web app developers which on the client === JavaScript. Using Nodejs lets us avoid context switching when developing the server-side code. No more painful switching between PHP and JS!</p>

        <p>As a note, the web server is encapsulated into wilson and is not actually part of building a web app on wilson.  It simply provides the base web server for this architecture.  Welcome to the new world of thick-client development... It's a brave new experience :)</p>
      </div>

      <div class="section">
        <h2>Why Angularjs?</h2>
        <p>Of all of the JavaScript MVC's out there Angular is by far the most refreshing.  It brings a server-side design/architecture to the client, most notably the separation of concerns. Structuring an Angularjs ap is incredibly centralized. The code written on the client is centered around data rather than the details of the UI/Presentation. Business logic and data transport is centralized to a service layer and UI code becomes reusable via directives and is incredibly clear. In a nutshell, Angular lets you:</p>
        <ul>
          <li>1. Write less code.</li>
          <li>2. Centralize code so that problems are easier to track.</li>
          <li>3. Focus on the business data rather than UI and DOM manipulation.</li>
        </ul>
      </div>
    </div>
  </div>


  <ht-footer></ht-footer>

</div>
