<div class="ht-who">

  <ht-header></ht-header>

  <div class="banner">
    <div class="title">
      <div>
        <h1>{{__ "Behind the Ball"}}</h1>
      </div>
    </div>
  </div>

  <div class="content transition fade">

    <p>Wilson was created by <i>Justin Fiedler</i>, <i>Hunter Novak</i> and <i>Dan Nguyen</i> of Hightail Inc.</p>

    <div class="creators">

      <div class="author justin">
        <h4 title="justin.fiedler@hightail.com">Justin</h4>
      </div>

      <div class="author hunter">
        <h4 title="hunter.novak@hightail.com">Hunter</h4>
      </div>

      <div class="author dan">
        <h4 title="dan.nguyen@hightail.com">Dan</h4>
      </div>

    </div>

    <p class="note">Wilson is now Hightail's official web application platform</p>

  </div>

  <ht-footer></ht-footer>

</div>
