<div class="ht-learn" ht-track-page>

  <ht-header></ht-header>

  <div class="banner">
    <div class="title">
      <div>
        <h1>{{__ "Learn"}}</h1>
      </div>
    </div>
  </div>

  <div class="content transition fade">

    <div class="resources">

      <h3>{{__ 'Checkout the videos and examples below to start developing your Wilson app.'}}</h3>

      <div>
        <div class="topics" ht-fixed-scroll="257" offset-top="100" offset-bottom="100">
          <div class="backdrop">
            <div>
              <div class="menu">
                <h4>Topics</h4>
                <ul>
                  <li ng-repeat="entry in menuOptions" ht-scroll-to=".section.[[entry.section]]">[[entry.name]]</li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="materials">
          <div>
            <div class="section pages">
              <h4>{{__ 'Creating Pages'}}</h4>

              <div class="block">

                <h5>{{__ 'Video Walkthrough'}}</h5>
                <div class="video-wrapper">
                  <iframe name='quickcast' src='http://quick.as/embed/pq6phdz0b' scrolling='no' frameborder='0' width='100%' allowfullscreen></iframe><script src='http://quick.as/embed/script/1.60'></script>
                </div>

                <!--<p class="note">{{__ 'Pages are simple to create in Wilson'}}</p>-->

                <!--<h5>{{__ 'Development Mode'}}</h5>-->
                <!--<p class="sub-block code">grunt server</p>-->
                <!--<p class="sub-block">Running wilson in development mode will start the server as well as a watcher task for the project. This is a blocking process that will stay open in the console and detect changes to the project. Any new changes will force an on-the-fly rebuild and refresh of the server, allowing you make changes fast and have them immediately available. Please note that in development mode, the server runs on port 3000.</p>-->

                <!--<h5>{{__ 'Production Mode'}}</h5>-->
                <!--<p class="sub-block code">sudo grunt server:dist</p>-->
                <!--<p class="sub-block">When running in production mode, the watch task will not run and therefore the process will not block. The server will be started in the background and the command will complete. In order to stop the server in production mode run the following command:</p>-->
                <!--<p class="sub-block code">sudo grunt stopServer</p>-->
                <!--<p class="sub-block">Note: in production mode, the server runs on port 8080.</p>-->
                <!-- -->
              </div>
            </div>

            <div class="section components">
              <h4>{{__ 'Components'}}</h4>

              <div class="block">
                <p class="note">{{__ 'Components are the core of your Wilson application. They are the pieces that will be used to construct your experiences. Building a Wilson application is essentially building a library of components that can be reused as your application grows. Components are meant to be leveraged and reused by other developers so that functionality is centralized and code is not duplicated.'}}</p>

                <p class="note">{{__ 'At their core, components are simply an Angularjs directive that defines a custom controller and specifies itself to be used as an element. What this means is that when we define a component, we are really creating a new type of HTML tag/element that can be used in the markup to instantiate it. Understanding components starts with understanding Anguarljs directives, you can read more'}} <a href="http://docs.angularjs.org/guide/directive">here</a>.</p>

                <p class="note">{{__ 'In Wilson there are two categories of components: building-blocks and pages. Building-blocks are exactly what they sound like, components used to build pages or other building-block components. Pages are components explicitly used to represent a top-level page and they are the only components that can be used as route targets.'}}</p>

                <h5>{{__ 'Creating a Component'}}</h5>
                <p class="sub-block code">yo wilson:component</p>
                <p class="sub-block">Creating a component is as easy as running this command and following the prompts. This process will create all necessary directories and files for a new empty component.</p>

                <h5 class="sub">{{__ 'Try out Component Development Right Now in Plunker' }}</h5>
                <div class="video-wrapper">
                  <iframe name='quickcast' src='http://embed.plnkr.co/abXGFGDtNRVK87b9efOe' scrolling='no' frameborder='0' width='100%' allowfullscreen></iframe>
                </div>

              </div>
            </div>

            <div class="section other-resources">
              <h4>Angularjs Resources</h4>
              <div class="block">
                <p>There is a wealth of documentation available for Angularjs and it is improving every day.  Here are some amazingly awesome links to online Angularjs resources: </p>
                <ul>
                  <li><a href="http://code.angularjs.org/1.3.10/docs/api/index" target="_blank">Angularjs API Reference</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Primary Documentation for Angularjs</li>
                  <li><a href="http://egghead.io" target="_blank">Egghead IO</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Incredible Angular Tutorial Videos</li>
                </ul>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <ht-footer></ht-footer>

</div>
