<div class="ht-home" ht-track-page>

  <ht-header></ht-header>


  <div class="banner">
    <div class="title">
      <div>
        <h1>{{__ "Meet Wilson"}}</h1>
      </div>
    </div>
  </div>

  <div class="content transition fade">
    <div class="hero-bar">
      <div class="hero">
        <div>
          <div class="logo"></div>
          <div class="reflection"></div>
          <div class="desc">{{__ 'A JavaScript framework built on Nodejs and Angularjs designed to bring together all of the ingredients needed to create structured, dynamic, large-scale web applications.'}}</div>
          <a class="get-started" href="/get-started">Get Started</a>
          <a class="app-seed" href="https://github.com/hightail/wilson-seed/archive/1.0.2.zip">Download the Seed App</a>
        </div>
      </div>
    </div>

    <div class="product-points">
      <div class="sections">
        <div>
          <div class="point">
            <div class="icon"></div>
            <h2>{{__ 'Internationalization (i18n)' }}</h2>
            <p>{{__ 'i18n support is built in and served via locale resource bundle json files. No more proxying your site through third-party services for external translation. More control over your translations; add new languages at your own pace.' }}</p>
          </div>
          <div class="point">
            <div class="icon"></div>
            <h2>{{__ 'Theming with SASS' }}</h2>
            <p>{{__ 'Create dynamic themes for your application that can be driven by your application logic.  White label solutions to provide completely different experiences.' }}</p>
          </div>
        </div>
        <div>
          <div class="point">
            <div class="icon"></div>
            <h2>{{__ 'Cross-Platform Experiences' }}</h2>
            <p>{{__ 'Serve different templates and experiences based on Device, Platform, Brand or other criteria. Use the same core code to drive different experiences on Mobile, Tablet and Desktop.' }}</p>
          </div>
          <div class="point">
            <div class="icon"></div>
            <h2>{{__ 'Modularized Code Structure' }}</h2>
            <p>{{__ 'Develop components that can be leveraged by a large team of developers. Easily create and reuse Angularjs Directives, Services and Controllers in a structured, understandable way.' }}</p>
          </div>
        </div>
        <div>
          <div class="point">
            <div class="icon"></div>
            <h2>{{__ 'Unit &amp; End-to-End Testing' }}</h2>
            <p>{{__ 'Easily define unit &amp; e2e tests for your components and services. Execute test suites automatically when a build is made so you can quickly know when changes break functionality and where the problem occurred.' }}</p>
          </div>
          <div class="point">
            <div class="icon"></div>
            <h2>{{__ 'Code Linting and Quality Control' }}</h2>
            <p>{{__ 'Audit and lint your javascript, markup and css styles at build time. Ensure implementation quality and prevent undesirable constructs.' }}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="technologies">
      <div>
        <h2>{{__ 'Powered by the Mainstream Web Technologies'}}</h2>
      </div>
      <div>
        <div class="tech-logo nodejs"><a href="http://nodejs.org/" title="nodejs.org"></a></div>
        <div class="tech-logo angularjs"><a href="http://www.angularjs.org/" title="angularjs.org"></a></div>
      </div>
      <div>
        <div class="tech-logo yeoman"><a href="http://yeoman.io/" title="yeoman.io"></a></div>
        <div class="tech-logo grunt"><a href="http://gruntjs.com/" title="gruntjs.com"></a></div>
        <div class="tech-logo bower"><a href="http://bower.io/" title="bower.io"></a></div>
        <div class="tech-logo sass"><a href="http://sass-lang.com/" title="sass-lang.com"></a></div>
      </div>
    </div>
  </div>

  <ht-footer></ht-footer>

</div>
