/*************************************************
 * LearnComponent Properties
 ************************************************/
// Default Properties for the learn component go here

/*************************************************
 * LearnComponent Styles
 ************************************************/
.ht-learn {

  .resources {
    @include grid;
    margin: 0 auto 50px auto;

    > h3 {
      margin: 40px 0px 8px 0px;
      padding-bottom: 20px;

      text-align: center;
      font-weight: 200;
    }

    > div {
      @include grid-row;
      //position: relative;
      font-weight: 700;

      .topics {
        @include pos-top-left(absolute, 302px, 0px);
        width: 100%;
        z-index: 10;

        .backdrop {
          @include grid;

          > div {
            @include grid-row;
          }

          .menu {
            @include grid-column(4, 12);
            @include border-radius(5px);
            background-color: rgba(140,33,32,0.87);
            color: white;
            border: 3px solid rgb(124, 1, 1);
            font-family: 'Sonsie One', 'Verb', Verdana, sans-serif;

            h4 {
              margin: 15px 20px 10px 20px;
              font-size: 18px;
              font-weight: 700;
              border-bottom: 1px solid #DDD;
              padding-bottom: 5px;
            }

            ul {
              list-style-type: none;
              padding: 0px 20px;

              li {
                @include transition(background-color .125s ease-in-out, color .125s ease-in-out);
                @include border-radius(5px);
                cursor: pointer;
                font-size: 14px;
                font-weight: 200;
                line-height: 26px;
                padding-left: 10px;
                margin-bottom: 8px;

                &:hover {
                  background-color: #E2E2E2;
                  color: #5d0906;
                }
              }
            }
          }

        }

      }

      .materials {
        @include grid-column(11);
        position: relative;
        z-index: 20;

        > div {
          @include grid-row;

          .section {
            @include grid-column(11);

            h3 {
              font-weight: 100;
              font-size: 20px/30px;
              margin: 30px 0px 0px;
              text-indent: 10px;

              a {
                color: #3a383a;
              }
            }

            h4 {
              font-size: 18px;
              font-weight: 700;
              border-bottom: 1px solid #EEE;
              padding-bottom: 4px;
              margin-top: 40px;
            }

            ul {
              list-style-type: none;
              line-height: 22px;

              li {
                font-size: 12px;
                font-weight: 200;

                > a {
                  font-size: 14px;
                  font-weight: 400;
                  color: #5d0906;
                }
              }
            }

            .video-wrapper {
              @include box-shadow(0px 0px 2px 1px #4F4F4F);
              @include border-radius(5px);
              width: 580px;
              height: 362px;
              margin: 20px auto;
              overflow: hidden;
              text-align: center;

              > iframe { display: block; }
            }

            .block {
              @include border-radius(5px);
              background-color: #F9F9F9;
              border: 1px dashed #c5c5c5;

              h5 {
                margin: 20px;
                font-weight: 700;
                font-size: 14px;

                &.sub {
                  font-size: 13px;
                }

                a {
                  color: #A02620;
                }
              }

              p {
                margin: 20px;
                font-size: 14px;
                font-weight: 200;
                line-height: 22px;

                a { color: #3a383a; }

                span.emphasis { font-size: 13px/22px; }

                &.sub-block {
                  font-size: 14px/22px;
                  font-weight: 200;

                  &.code {
                    font-family: 'Courier New', "Trebuchet MS", serif;
                    margin-left: 40px;
                  }
                }
              }

            }
          }
        }
      }

    }

  }

}