/*************************************************
 * TipComponent Properties
 ************************************************/
// Default Properties for the tip component go here

/*************************************************
 * TipComponent Styles
 ************************************************/
.ht-tip {

  position: relative;

  .tip-container {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 0px;
    height: 0px;

    .tip {
      @include box-shadow(0px 0px 25px 0px rgba(0, 0, 0, .50));
      @include user-select(none);
      background: rgb(58, 56, 58);
      background: rgba(58, 56, 58, .95);
      color: #f6f6f6;
      color: rgba(255, 255, 255, .85);
      font-family: $font-secondary-family;
      font-size: 12px;
      line-height: 16px;
      padding: 8px;
      position: absolute;
      bottom: 8px;
      right: -26px;
      text-align: center;
      min-width: 250px;
      z-index: 999;

      &.active {
        z-index: 1000;
      }
    }

    .arrow {
      position: absolute;
      bottom: -7px;
      right: 26px;
      border-top: 8px solid rgb(58,56,58);
      border-top: 8px solid rgba(58,56,58,0.95);
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
    }
  }

}