<div class="ht-welcome-content">

  <div class="wilson-logo"></div>

  <div class="hero">
    <h1>Welcome to Wilson!</h1>

    <h4>If you are seeing this page, your Wilson webapp is working.</h4>

    <p>Wilson is a framework for creating web applications using Angularjs and Node /w Express (<a href="https://github.com/hightail/wilson">Learn More</a>).  You are ready to get started building your new web application. If you haven't yet, install the Wilson yeoman generators to easily create components, services and behaviors (<a href="https://github.com/hightail/generator-wilson">Learn More</a>).</p>
  </div>

</div>
